{% extends 'template.html' %}
{% block body_content %}
<div class="card text-center">
   <div class="card-header">
      <p>
      <p>
   </div>
   <div class="card-body">
      <h5 class="card-title">Welcome </h5>
      <p class="card-text">Use the following menu to navigate</p>

      <a href="{% url 'adminer:result-list' %}" class="btn btn-primary"> list</a>



   </div>
   <div class="card-footer text-muted">
      2 days ago
   </div>
</div>
<!-- Modal -->
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body" id="modalbody">
         </div>
      </div>
   </div>
</div>
<!-- Contact US -->
<!--  <a class="contact" href="{ url 'currency_app:contact_us_create' %}">CONTACT US</a>-->
<script>
   document.getElementById("home").classList.add("active");
   document.title = "Home";
</script>
{% endblock body_content %}